<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Admin Page')"></head>
<body class="myb">
<section th:include="fragment.html :: navbar"></section>

<div class="container">
    <section th:fragment="navbar">

    </section>

    <main>

        <h3>Admin Page</h3>
        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">

                    <form>
                        <a class="nav-link" th:href="@{/todo/list}"> Mine <span class="sr-only">(current)</span></a>
                        <a class="nav-link" th:href="@{/todo/all}"> All <span class="sr-only">(current)</span></a>
                    </form>
                </div>
            </div>
        </div>
    </main>

</div>

<section th:include="fragment.html :: js-files"></section>
</body>
</html>
