<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Home Page')"></head>
<body class="myb">
<section th:include="fragment.html :: navbar"></section>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>User</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo,iter : ${todos}">
                <td th:text="${iter.count}"></td>
                <td th:text="${todo.title}"></td>
                <td th:text="${todo.description}"></td>
                <td th:text="${todo.userId}"></td>
                <td>
                    <a th:href="@{/todo/delete/{id}/(id=${todo.id})}">🗑</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<section th:include="fragment.html :: js-files"></section>
</body>
</html>
